# example netlify.toml
[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/whats-happening"
  to = "/whats-happening-now"
  status = 301

[[redirects]]
  from = "/shop"
  to = "/404"
  status = 404
