---
import Layout from "../../components/Layout.astro";
---

<Layout title="Press" description="Hidden stub page for press references." currentPath="/press">
  <section class="content">
    <h1>Press</h1>
    <p class="meta">Hidden stub page for press references and assets.</p>
  </section>
</Layout>
